<% provide(:title, 'About Us') %>

<h1>tKiero App</h1>
<p>
	This is Our Team, the crazy ones who think theycan change the world.
	We belive that there is a lot to disconver. Together. That's why we love to help people to bring their ideas to life.
	This is what we do in <a href="http://www.buildoneideas.com"> Build One IDeas</a>
</p>

