<% provide(:title, 'Home') %>

<!-- Hero-Unit Call To Action
-------------------------------------------------- -->
<div class="center hero-unit">
	<!-- MAIN CALL TO ACTION -->
	<h1>tKiero App</h1>
  	<h2>Si quieres algo, dilo bien alto !!!</h2>
	<p>This is the Home Page for one of the New Labs of 
    	<a href="http://www.buildoneideas.com"> Build One IDeas</a></p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %>	
</div>
	
<br>
	
<!-- 3 Column 'Hero Page' row
-------------------------------------------------- -->
<div class="row calltoaction">
    <div class="span4">
    		<h2>Lo Kieres</h2>
		<p>Añade a la lista de tus sueños todo lo que quieras que te regalen o que quieres comprarte, cuando se te ocurra, donde se te ocurra, de la forma más fácil...</p>
    		<p><a class="pull-right btn" href="#">Ver detalles &raquo;</a></p>
		<!-- ><p><a class="btn btn-primary btn-large">Learn more »</a></p> -->
    </div>
    <div class="span4">
    		<h2>Lo Kompartes</h2>
    		<p>
    			Ordena tu lista y prioriza lo que quieres y quien te lo puede regalar.
    			Comparte tu lista con los que te kieren y pide un deseo !!! 
    		</p>
    		<p><a class="pull-right btn" href="#">Ver detalles &raquo;</a></p>
   </div>
    <div class="span4">
    		<h2>....y Konsigues tus sueños</h2>
    		<p>
    			Portate bien, sé bueno y konsigue tus sueños
    		</p>
    		<p><a class="pull-right btn" href="#">Ver detalles &raquo;</a></p>
    </div>
</div>
<!-- Line Break Separator -->	
<hr>


<!-- Carousel
-------------------------------------------------- -->

<div class="container">  <!-- MyFooter row of 4 columns -->
	<div class="row">
		<div class="span12">  <!-- 12 columns -->
			<div class="row-fluid">
				<div class="span">  <!-- 12 columns -->
					<!-- Carousel -->
					<div id="myCarousel" class="carousel">     <!-- Carousel items -->
						<div class="carousel-inner">
					  		<div class="active item"><img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt>
					    			<div class="carousel-caption">
					    				<h4>Añade</h4>
					    				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					    			</div>
					    		</div>
					    		<div class="item"><img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt>
					    			<div class="carousel-caption">
					    				<h4>Ordena</h4>
					    				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					    			</div>
					    		</div>
					    		<div class="item"><img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt>
					    			<div class="carousel-caption">
					    				<h4>Comparte</h4>
					    				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						    		</div>
					    		</div>
					  	</div>
					  	<!-- Carousel nav -->
					  	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					  	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
