<div class="center hero-unit">
	<h1>tKiero Demo App</h1>
  	<h2>Si lo quieres... dilo bien alto !!!</h2>
	<p>This is the Home Page for one of the New Labs of 
    	<a href="http://www.buildoneideas.com"> Build One IDeas</a></p>
	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

