    <footer class="footer">
    		<small>
          <!-- >
          	<a href="www.buildoneideas.com/">Build One IDeas</a>
          </-->  
		  <%= link_to image_tag("b1IDeasLogo60x60.png", alt: "Build One IDeas"), 'http://www.buildoneideas.com/' %>
  			
    		</small>
          <nav>
            <ul>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About Us", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
            </ul>
          </nav>
    </footer>