<footer>
	<div class="container">
		<!-- MyFooter row of 4 columns -->
		<div class="row">
			<div class="span8"> 
				<!-- 12 columns -->
				<div class="row">
					<div class="span2">
						<h4>About us</h4>
						<span class="label success">New</span>
						<a href="#">Team & Mentors & Board</a>
						<br>
						<a href="#">Customer Stories</a>
						<br>
						<a href="#">Jobs</a>
						<br>
						<a href="#">Press</a>
						<br>
						<a href="#">Copyright Policy</a>
						<br>
						<br>
						<p>Donec id elit non mi porta gravida at eget metus.</p>
					</div> <!-- /SPAN2 -->
					<div class="span2">
						<h4>Our Products</h4>
						<a href='http://www.buildoneideas.com'>AAA &amp; BBB</a>
						<br>
						<a href='http://www.buildoneideas.com'>CCC</a>
						<br>
						<a href='http://www.buildoneideas.com'>DDD</a>
						<br>
						<br>
						<p>Donec id elit non mi porta gravida at eget metus.</p>
					</div> <!-- /SPAN2 -->
					<div class="span2">
						<h4>Contact Us</h4>
						<a href='http://www.buildoneideas.com'>Contact Us</a>
						<br>
						<a href='http://www.buildoneideas.com'>Partner with Us</a>
						<br>
						<a href='http://www.buildoneideas.com'>Help Desk</a>
						<br>
						<br>
						<p>Donec id elit non mi porta gravida at eget metus.</p>
					</div> <!-- /SPAN2 -->
					<div class="span2">
						<h4>Legal info</h4>
						<a href="#">Legal Info</a>
						<br>
						<a href="#">Company</a>
						<br>
						<a href="#">Terms of Use & Service</a>
						<br>
						<a href="#">Privacy Policy </a>
						<br>
						<a href="#">Copyright Policy</a>
						<br>
						<br>
						<p>Donec id elit non mi porta gravida at eget metus.</p>
					</div> <!-- /SPAN2 -->
				</div>	<!-- 12 columns -->	
			</div>
			<div class="span pull-right">
				<h4>Stay in Touch</h4>
				<a href='http://www.twitter.com'>
				<img src="http://github.com/intridea/authbuttons/raw/master/png/twitter_32.png" alt="Twitter">
				</a>
				<a href='http://www.facebook.com'>
				<img src="http://github.com/intridea/authbuttons/raw/master/png/facebook_32.png" alt="Facebook">
				</a>
				<a href='http://plus.google.com'>
				<img src="http://github.com/intridea/authbuttons/raw/master/png/google_32.png" alt="Google+">
				</a>
				<br>
			</div> <!-- /SPAN2 -->
			<div class="span12 center"
				<br>
				<br>
				<br>
				<p>&copy; 2011-2012 All Rights Reserved. <a href='http://www.buildoneideas.com'>&reg;BuildOneIDeas</a> is a registered trademark of SETI Desarrollo Tecnologico S.L.</p>
				<%= link_to image_tag("b1IDeasLogo60x60.png", alt: "Build One IDeas"), 'http://www.buildoneideas.com/' %>
			</div>
		</div> <!-- /row 12 = 3 + 9 -->
	</div> <!-- /footer -->
</footer>
